<!-- CTA -->
<section id="contact" class="wrapper style4 special">
	<div class="inner">
		<form action="https://formspree.io/{{ site.email }}" method="POST">
			<header>
				<h2>Stay Connected</h2>
			</header>
			<div class="field">
				<input type="text" name="email" id="email" placeholder="E-mail"/>
				<input type="text" name="name" id="name" placeholder="Full Name"/>
				<textarea name="message" id="message" rows=5 placeholder="Message"></textarea>
				<input type="submit" value="Submit" style="margin-top: 2rem;" />
			</div>
		</form>
	</div>
</section>
