<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
		<h1><a href="{{ "" | absolute_url }}/"><img src="assets/images/shoshin_logo_blue.svg"></img></a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="https://medium.com/shoshin-group" target="_blank"><span>Blog</span></a>
				</li>
				<li class="special">
					<a href="#about"><span>About</span></a>
				</li>
				<li class="special">
					<a href="#contact"><span>Contact</span></a>
				</li>
			</ul>
		</nav>
	</header>
</div>
