<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Partners and Clients</h2>
		</header>
		<div class="row">
		  <div class="column">
				<a href="http://knowmore.io/">
		    	<img src="assets/images/knowmore.png">
				</a>
		  </div>
		  <div class="column">
				<a href="https://cryptofinlabs.github.io/">
		    	<img src="assets/images/bskt.png">
				</a>
			</div>
		  <div class="column">
				<a href="http://www.contractland.io/">
		    	<img src="assets/images/contractland.png">
				</a>
			</div>
		  <div class="column">
				<a href="https://www.buymeby.com/">
		    	<img src="assets/images/buymeby.png">
				</a>
		  </div>
		  <div class="column">
				<a href="https://uwaterloo.ca/">
		    	<img src="assets/images/uoft.png">
				</a>
		  </div>
		  <div class="column">
				<a href="https://www.utoronto.ca/">
		    	<img src="assets/images/waterloo.png">
				</a>
		  </div>
		</div>
	</div>
</section>
