<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Partners and Clients</h2>
		</header>
		<div class="row">
		  <div class="column">
		    <img src="assets/images/knowmore.png">
		  </div>
		  <div class="column">
		    <img src="assets/images/bskt.png">
			</div>
		  <div class="column">
		    <img src="assets/images/contractland.png">
			</div>
		  <div class="column">
		    <img src="assets/images/buymeby.png">
		  </div>
		  <div class="column">
		    <img src="assets/images/uoft.png">
		  </div>
		  <div class="column">
		    <img src="assets/images/waterloo.png">
		  </div>
		</div>
	</div>
</section>
