<!-- One -->
<section id="about" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Experts in blockchain security & risk mitigation</h2>
			<p>Navigating the threat landscape of distributed ledgers to understand the risks your organisation and customers are exposed to is crucial to protecting brand, reputation, funds, and sensitive information.</p>
		</header>
		<ul class="features">
			<li class="icon fa-laptop">
				<h3>Application Cyber Security</h3>
				<p>Our team specializes in application sercurity. With decades of experience analyzing various stacks across the globe, we are experts at identifying risk and formulating a security strategies.</p>
			</li>
			<li class="icon fa-code">
				<h3>Code Analysis & Testing</h3>
				<p>Our experience allows us to analyze smart contracts and their integration with other applications. We help to ensure that your infrastructure and software works as it should.</p>
			</li>
			<li class="icon fa-road">
				<h3>Strategy Consulting</h3>
				<p>We provide independent and impartial assurance, direction and delivery support across the entire distributed ledger landscape.</p>
			</li>
			<li class="icon fa-graduation-cap">
				<h3>Academic Expertise</h3>
				<p>We work in cooperation with university programs to expand the forefront of distributed ledger technologies and formal verification of smart contracts.</p>
			</li>
		</ul>
	</div>
</section>
